.home-container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.info {
    width: 50%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

#logo {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 40%;
}

@media (max-width: 375px) {
    .home-container {
        display: flex;
        flex-direction: column;
    }
    .info {
        width: 85%;
        justify-content: center;
        margin: 50% auto;
    }
    #logo {
        max-width: 50%;
    }
}