.winners-container {
  display: flex;
  flex-direction: column;
}

#winner-title {
  margin: 2rem;
}

.winners {
  max-width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.winner-card,
.vice-card {
  position: relative;
}

#star1 {
  position: absolute;
  top: -10%;
  left: 10%;
  width: 60px;
}

#star2 {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -10%;
  left: 5%;
}

@media (max-width: 375px) {
  #star1 {
    width: 60px;
    left: 0;
  }
  #star2 {
    width: 40px;
    left: -4%;
  }
}
