.container {
    width: 90%;
    margin: -1rem auto;
    text-align: left;
    padding: 2rem;
}

.instructionsSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}