header {
  display: flex;
  box-shadow: 0 0 1px 0;
  box-shadow: 0 4px 56px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 1rem;
  background-color: rgba(51, 77, 128, 1);;
}

a {
  color: #fff;
}

header nav {
  display: flex;
  margin: 1rem auto;
  width: 20%;
}

header a {
  width: 20%;
  margin: 1rem auto;
  justify-items: center;
}
